{% load static %}

<!-- Additional details starts here -->

<div class="container-fluid  mt-4 ">

    <div class="  row row-cols-1 row-cols-md-4 row-cols-sm-1 g-4 text-muted addrow ">
      <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <i class="text-muted fa-solid fa-truck-fast fa-2x"></i>
            </div>
            <div class="card-footer">
                Fast Delivery <br>
                <small class="text-muted">Get everything delivered in under 24hrs</small>
              </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <i class="text-muted fa-solid fa-money-bill-transfer fa-2x"></i>
            </div>
            <div class="card-footer">
                100% Money Back Guarantee <br>
                <small class="text-muted">Don't like the product, we'll refund your money*</small>
              </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <i class="text-muted fa-solid fa-headset fa-2x"></i>
            </div>
            <div class="card-footer">
                24/7 Support <br>
                <small class="text-muted">We are always available incase you have any queries</small>
              </div>
          </div>
        </div>
      <div class="col">
        <div class="card text-center">
            <div class="card-body">
                <i class="text-muted fa-solid fa-people-group fa-2x"></i>
            </div>
            <div class="card-footer">
                Member Discounts <br>
                <small class="text-muted">Loyal members get regular discounts in all products</small>
              </div>
          </div>
      </div>
      
    </div>
    </div>
    <!-- Additional details ends here -->
    
    
    
    <!-- Fesh Fits Area -->
        <div class="container-fluid mt-5">
           
    
        <div class="row mt-5">
 <h3 class="text-center mt-5 mb-2 sticky-top">Fresh Fits For You</h3>
 <h6 class="text-center  mb-5">Our fresh and popular selections</h6>
            <div class="col-md-4">
                <div class="card sticky-top mt-5" style="width: 18rem;">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item fw-bold ms-4"> --All</li>
                      <li class="list-group-item text-muted">Tshirts</li>
                      <li class="list-group-item text-muted">Sweaters</li>
                      <li class="list-group-item text-muted">Hoods</li>
                      <li class="list-group-item text-muted">Lady Suits</li>
                      <li class="list-group-item text-muted">Sweaters</li>
                      <li class="list-group-item text-muted">Lady Tshirts</li>
                      <li class="list-group-item text-muted">Dresses</li>
                      <li class="list-group-item text-muted">Slit Skirts</li>
                      <li class="list-group-item text-muted">Belts</li>
                    </ul>
                   
                  </div>
            </div>
            <div class="col-md-8">
                
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for product in products %}
                    <div class="col">
                      <div class="card">
                        <img src="{{product.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{product.name}}</h5>
                          <p class="card-text">{{product.price|floatformat:2}}</p>
                          <p class="card-text"><a href=""><button class="button-61" role="button"><i class="fa-solid fa-cart-plus text-white"></i> Add to cart</button></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="{% static 'images/tshirt1.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><a href=""><button class="button-61" role="button"><i class="fa-solid fa-cart-plus text-white"></i> Add to cart</button></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="{% static 'images/ld1.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                          <p class="card-text"><a href=""><button class="button-61" role="button"><i class="fa-solid fa-cart-plus text-white"></i> Add to cart</button></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card text-center">
                        <img src="{% static 'images/tshirt2.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><a href=""><button class="button-61" role="button"><i class="fa-solid fa-cart-plus text-white"></i> Add to cart</button></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card">
                          <img src="{% static 'images/sweats.jpeg' %}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><a href=""><button class="button-61" role="button"><i class="fa-solid fa-cart-plus text-white"></i> Add to cart</button></a></p>
                        </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                          <img src="{% static 'images/hood.jpeg' %}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><a href=""><button class="button-61" role="button"><i class="fa-solid fa-cart-plus text-white"></i> Add to cart</button></a></p>
                        </div>
                        </div>
                      </div>
                      {% endfor %}
                  </div>

                  <div class="text-center mt-5">
                    <button class="button-52 mt-3" role="button">Show More</button>
                  </div>

            </div>
        </div>
        </div>
    <!-- End of fresh fits area -->
    
    <div class="container-fluid">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <img src="{% static 'images/deal.png' %}" alt="" class="img-fluid">
                </div>
                
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <h3 class="mt-5 text-center mb-5">Top Categories</h3>
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-5">
            <div class="col">
              <div class="card">
                <img src="{% static 'images/slit1.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> Dresses</h5>
                  <p class="card-text">Up to 75% off</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'images/tshirt1.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Men T-Shirt</h5>
                  <p class="card-text">Up to 20% off</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'images/ld1.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Men T-Shirt</h5>
                    <p class="card-text">Up to 20% off</p>
                 </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center">
                <img src="{% static 'images/tshirt2.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Men T-Shirt</h5>
                    <p class="card-text">Up to 20% off</p>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="{% static 'images/sweats.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Men T-Shirt</h5>
                    <p class="card-text">Up to 20% off</p>
                 </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="{% static 'images/hood.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Men T-Shirt</h5>
                    <p class="card-text">Up to 20% off</p>
                 </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="{% static 'images/hood.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Men T-Shirt</h5>
                    <p class="card-text">Up to 20% off</p>
                 </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="{% static 'images/hood.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Men T-Shirt</h5>
                    <p class="card-text">Up to 20% off</p>
                 </div>
                </div>
              </div>
          </div>
    </div>

    <div class="container">
        <h4 class="text-center mt-5">Brands You Love</h4>
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'images/zara.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>