{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<!-- Hero section starts here -->

<div class="container-fluid container-wrap sett mb-5 ">
    <div class="container ">
    <div class="row d-flex flex-row  ">
      <div class="col-md-5 align-self-center ">
       
        
        <h1 class="mb-3 dress ">Dress to Be<span class="web hover-underline-animation">Noticed.</span> </h1>
        <h3 class="mt-2">Make your Fashion look more attractive with Us.  </h3>
        <div class="mt-5 mb-md-5 mb-lg-5 row">
            <div class="col"><a href="#contact"> <button class=" button-87 btn" >Shop Now</button> </a></div>
            <div class="col"><a href="#contact" class=" seller mt-3 hover-underline-animation " > Become a Seller </a></div>
          

          
        </div>
      
      </div>
      <div class="col-md-7 align-self-center mt-md-2">
     
        <img src="{% static 'images/hero1.png' %}" alt="" class="img-fluid bgm trf mt-md-5">
  
      </div>
    </div>
    </div>

<!-- Hero section ends here -->


<!-- Additional details starts here -->

<div class="container add mt-4">

<div class=" container row row-cols-1 row-cols-md-4 g-4 d.flex justify-content-center align-items-center">
  <div class="col">
    <h4><i class="fa-solid fa-truck-fast"></i><br> Free shipping for orders above Kshs500/=</h4>
  </div>
  <div class="col">
    <h4><i class="fa-solid fa-truck-fast"></i><br> Free shipping for orders above Kshs500/=</h4>
  </div>
  <div class="col">
    <h4><i class="fa-solid fa-truck-fast"></i><br> Free shipping for orders above Kshs500/=</h4>
  </div>
  <div class="col">
    <h4><i class="fa-solid fa-truck-fast"></i><br> Free shipping for orders above Kshs500/=</h4>

  </div>
  
</div>
</div>
<!-- Additional details ends here -->


    <div class="container mt-4">
        <h3 class="text-center">Fresh Fits For You</h3>
    </div>


  </div>
  
  

{% endblock %}