{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<!-- Hero section starts here -->

<div class="container-fluid container-wrap sett mb-5 ">
    <div class="container ">
    <div class="row d-flex flex-row  ">
      <div class="col-md-5 align-self-center ">
       
        
        <h1 class="mb-3 dress ">Dress to Be<span class="web hover-underline-animation">Noticed.</span> </h1>
        <h3 class="mt-2">Make your Fashion look more attractive with Us.  </h3>
        <div class="mt-5 mb-md-5 mb-lg-5 row">
            <div class="col"><a href="#contact"> <button class=" button-87 btn" >Shop Now</button> </a></div>
            <div class="col"><a href="#contact" class=" seller mt-3 hover-underline-animation " > Become a Seller </a></div>
          

          
        </div>
      
      </div>
      <div class="col-md-7 align-self-center mt-md-2">
     
        <img src="{% static 'images/hero1.png' %}" alt="" class="img-fluid bgm trf mt-md-5">
  
      </div>
    </div>
    </div>
</div>
<!-- Hero section ends here -->


<!-- Additional details starts here -->

<div class="container-fluid  mt-4 ">

<div class="  row row-cols-1 row-cols-md-4 g-4 text-muted addrow d-flex justify-content-center">
  <div class="col">
    <div class="card text-center">
        <div class="card-body">
            <i class="text-muted fa-solid fa-truck-fast fa-2x"></i>
        </div>
        <div class="card-footer">
            Fast Delivery <br>
            <small class="text-muted">Get everything delivered in under 24hrs</small>
          </div>
      </div>
  </div>
  <div class="col">
    <div class="card text-center">
        <div class="card-body">
            <i class="text-muted fa-solid fa-money-bill-transfer fa-2x"></i>
        </div>
        <div class="card-footer">
            100% Money Back Guarantee <br>
            <small class="text-muted">Don't like the product, we'll refund your money*</small>
          </div>
      </div>
  </div>
  <div class="col">
    <div class="card text-center">
        <div class="card-body">
            <i class="text-muted fa-solid fa-headset fa-2x"></i>
        </div>
        <div class="card-footer">
            24/7 Support <br>
            <small class="text-muted">We are always available incase you have any queries</small>
          </div>
      </div>
    </div>
  <div class="col">
    <div class="card text-center">
        <div class="card-body">
            <i class="text-muted fa-solid fa-people-group fa-2x"></i>
        </div>
        <div class="card-footer">
            Member Discounts <br>
            <small class="text-muted">Loyal members get regular discounts in all products</small>
          </div>
      </div>
  </div>
  
</div>
</div>
<!-- Additional details ends here -->



<!-- Fesh Fits Area -->
    <div class="container-fluid mt-4">
        <h3 class="text-center">Fresh Fits For You</h3>

    </div>
<!-- End of fresh fits area -->

  
  
  

{% endblock %}