{% extends 'shop/base.html' %}
{% load static %}
{% include 'shop/navbar.html' %}
{% block content %}

<!-- Hero section starts here -->

<div class="container-fluid container-wrap sett mb-5 ">
    <div class="container ">
    <div class="row d-flex flex-row  ">
      <div class="col-md-5 align-self-center ">
       
        
        <h1 class="mb-3 dress ">Dress to Be<span class="web hover-underline-animation">Noticed.</span> </h1>
        <h4 class="mt-2">Make your Fashion look more attractive and stylish with us.  </h4>
        <div class="mt-5 mb-md-5 mb-lg-5 row">
            <div class="col-12"><a href="#contact"> <button class=" button-87 btn" >Shop Now</button> </a></div>
            <!-- <div class="col"><a href="#contact" class=" seller mt-3 hover-underline-animation " > Become a Seller </a></div> -->
          

          
        </div>
      
      </div>
      <div class="col-md-7 align-self-center mt-md-2">
     
        <img src="{% static 'images/hero1.png' %}" alt="" class="img-fluid bgm trf mt-md-5">
  
      </div>
    </div>
    </div>
</div>
<!-- Hero section ends here -->


{% include 'users/allarea.html' %}
  
  
  

{% endblock %}