{% extends 'shop/base.html' %}
{% load static %}

{% include 'shop/navbar.html' %}
{% block content %}
<h3 class="mt-5">Cart</h3>
<table class="table mt-5">
    <a href="{% url 'homepage' %}">Continue Shopping</a>
    <thead>
      <tr>
        <th scope="col">Items</th>
        <th scope="col">{{order.get_cart_items}}</th>
        <th scope="col">Totals</th>
        <th scope="col">Kshs {{order.get_cart_total}}</th>
      </tr>
     
    </thead>

  </table>




<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Image</th>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Amount</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
         {% for item in items %}
      <tr>
       <td>{{item.product.id}}</td>
        <th scope="row"><img src="{{item.product.image.url}}" alt="" height="70" width="70" class="img-fluid"></th>
        
        <td>{{item.product.name}}</td>
        <td>{{item.quantity}}</td>
        <td>Kshs{{item.product.price|floatformat:2}}</td>
        <td>{{item.get_total}}</td>
        
      </tr>
      
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'checkout' %}"><button class="btn btn-secondary">Checkout</button></a>



{% endblock content %}