{% extends 'shop/base.html' %}
{% load static %}

{% include 'shop/navbar.html' %}
{% block content %}
<h3 class="mt-5">Cart</h3>
<table class="table mt-5">
    <a href="{% url 'homepage' %}">Continue Shopping</a>
    <thead>
      <tr>
        <th scope="col">Items</th>
        <th scope="col">1</th>
        <th scope="col">Totals</th>
        <th scope="col">Kshs 500</th>
      </tr>
     
    </thead>

  </table>




<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><img src="{% static 'images/ld1.jpeg' %}" alt="" height="70" width="70" class="img-fluid"></td>
        <td>Otto</td>
        <td>2</td>
        <td>300</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><img src="{% static 'images/ld1.jpeg' %}" alt="" height="70" width="70" class="img-fluid"></td>
        <td>Otto</td>
        <td>2</td>
        <td>300</td>
      </tr>
     
    </tbody>
  </table>
  <a href="{% url 'checkout' %}"><button class="btn btn-secondary">Checkout</button></a>



{% endblock content %}