{% extends 'shop/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mt-5 " style="background-color: #f200da07;">
   
    
    <div class="container ">
    <div class="mt-5">
        <h4 class=" text-muted">Checkout</h4>
    </div>
    <div class="row">
        <div class="col-md-5 mt-5">
          <div class="">
            <h5 class="text-muted">Checkout</h5>
        </div>
        <div class="card p-4">
            <form id="form" >
              <h6 class="fw-bold"><i class="fa-solid fa-circle-check"></i> 1. Address details</h6><hr>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <!-- <label class="form-label" for="form6Example1">First name</label> -->
                      <input type="text" id="form6Example1" name="nameone" class="form-control" placeholder="First Name" required />
                      
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form6Example2" name="nametwo" class="form-control" placeholder="Last Name" required/>
                      <!-- <label class="form-label" for="form6Example2">Last name</label> -->
                    </div>
                  </div>
                </div>
              
                <!-- Text input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form6Example3" name="state" class="form-control" placeholder="State/County" required/>
                  <!-- <label class="form-label" for="form6Example3">State</label> -->
                </div>
              
                <!-- Text input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form6Example4" name="address" class="form-control" placeholder="Address" required/>
                  <!-- <label class="form-label" for="form6Example4">Address</label> -->
                </div>
                 <!-- Text input -->
                 <div class="form-outline mb-4">
                    <input type="number" id="form6Example4" name="zipcode" class="form-control" placeholder="Zipcode (eg 00100)" required/>
                    <!-- <label class="form-label" for="form6Example4">Zipcode</label> -->
                  </div>
                   <!-- Text input -->
                 <div class="form-outline mb-4">
                    <input type="text" id="form6Example4" name="city" class="form-control" placeholder="City" required/>
                    <!-- <label class="form-label" for="form6Example4">City</label> -->
                  </div>
              
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form6Example5" name="email" class="form-control" placeholder=" Email" required />
                  <div id="emailHelp" class="form-text">We need your email to send you updates on your order.</div>
                  <!-- <label class="form-label" for="form6Example5">Email</label> -->
                </div>
              
                <!-- Number input -->
                <div class="form-outline mb-4">
                  <input type="number" id="form6Example6" name="phone" class="form-control" placeholder="Phone Number eg 0720123456" required/>
                  <!-- <label class="form-label" for="form6Example6">Phone</label> -->
                </div>
              
              
               
                <!-- Submit button -->
                <button type="submit" id="form-button" class="btn btn-warning btn-block mb-4 ">Place order</button>
              </form>
            </div>


              <div id="payment-info" class="card p-3 hidden ">
                <h6 class="fw-bold"><i class="fa-solid fa-circle-check"></i> 2. Payment Information</h6><hr>
                <h6>How do you want to pay?</h6>
                <button id="make-payment" class="btn btn-outline-success m-3 "><img src="{% static 'images/mpesa.svg' %}" class="img-fluid" height="100" width="100" alt=""></button>
                <div id="paypal-button-container"></div>
              </div>
        </div>
        <div class="col-md-1"></div>
        <div class=" col-md-4  mt-4">
          <h5 class=" text-muted fw-bold">Order Summary</h5>
            <div class="card mt-4 p-3 sticky-top">
            <table class="table">
              <h6 class="fw-bold m-3"><i class="fa-solid fa-receipt"></i> Your Order <small class="textmuted">{{cartitems}} item(s)</small> </h6><hr>
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                     
                      <th scope="row"><img src="{{item.product.image.url}}" alt="" height="70" width="70" class="img-fluid"></th>
                     
                      <td>{{item.product.name}}</td>
                      <td>{{item.quantity}}</td>
                      
                      <td>{{item.get_total}}</td>
                      
                    </tr>
                    {% endfor %}
                  
                 
                </tbody>
               
              </table>
              <div class="row">
                <div class="col-md-8"><p>Subtotal:</p></div>
                <div class="col ">Kshs. {{order.get_cart_total}}</div>
              </div>
              <div class="row">
                <div class="col-md-8"><p>V.A.T:</p></div>
                <div class="col ">Kshs. 0</div>
              </div>
              <div class="row">
                <div class="col-md-8"><p>Local delivery fees:</p></div>
                <div class="col ">N/A</div>
              </div>
              <div class="row">
                <div class="col-md-8 fw-bold"><p>TOTAL</p></div>
                <div class="col fw-bold ">Kshs. {{order.get_cart_total}}</div>
              </div>
              <a href="{% url 'cart' %}" class="btn btn-md btn-outline-success fw-bold">&#x2190 Modify Cart</a>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AU8LZyzElBo09Mw8HR8T6GX2FSvI89uAYks7BpNljZRrwlv4mGJdjBJL_lXUIubUsHkAkgJcG5vFukp1&currency=USD"></script>

<script>
  // Render the PayPal button into #paypal-button-container
  var total = '{{order.get_cart_total}}'
  var dollars = total/85
  paypal.Buttons({
    style:{
      color:'blue',
      shape:'rect'
    },
      // Set up the transaction
      createOrder: function(data, actions) {
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: parseFloat(dollars).toFixed(2)
                  }
              }]
          });
      },

      // Finalize the transaction
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            submitFormData()
              // Successful capture! For demo purposes:
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              var transaction = orderData.purchase_units[0].payments.captures[0];
              alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

              // Replace the above to show a success message within this page, e.g.
              // const element = document.getElementById('paypal-button-container');
              // element.innerHTML = '';
              // element.innerHTML = '<h3>Thank you for your payment!</h3>';
              // Or go to another URL:  actions.redirect('thank_you.html');
          });
      }


  }).render('#paypal-button-container');
</script>


<script type="text/javascript">

    var total = '{{order.get_cart_total}}'
    var shipping = 'False'


    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form is submitted')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

   /* document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })*/

    function submitFormData(){
        console.log('button clicked')

        var userFormData = {
            'nameone':null,
            'nametwo':null,
            'email':null,
            'phone':null,
            'total':total
        }
        var shippingData = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
        }
        if (shipping != 'False'){
            shippingData.address = form.address.value
        shippingData.city = form.city.value
        shippingData.state = form.state.value
        shippingData.zipcode = form.zipcode.value
        }
        if (user != 'Anonymous'){
            userFormData.nameone = form.nameone.value
        userFormData.nametwo = form.nametwo.value
        userFormData.email = form.email.value
        userFormData.phone = form.phone.value
        shippingData.address = form.address.value
        shippingData.city = form.city.value
        shippingData.state = form.state.value
        shippingData.zipcode = form.zipcode.value
        }
        
        var url = '/shop/process_order/'
        fetch(url,{
            method:'POST',
            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken':csrftoken
            },
            body: JSON.stringify({'form':userFormData, 'shipping':shippingData})
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('success:', data);
            alert('Transaction complete');
            window.location.href = "{% url 'homepage' %}"
        })
        

        console.log(shippingData)
        console.log(userFormData)


    }
</script>
{% endblock content %}