{% extends 'shop/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mt-5">
   
    
    <div class="container mt-5">
    <div class="mt-5">
        <h4 class="mt-5">Checkout</h4>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            
            <form id="form" >
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form6Example1" name="nameone" class="form-control" placeholder="" required />
                      <label class="form-label" for="form6Example1">First name</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form6Example2" name="nametwo" class="form-control" placeholder="" required/>
                      <label class="form-label" for="form6Example2">Last name</label>
                    </div>
                  </div>
                </div>
              
                <!-- Text input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form6Example3" name="state" class="form-control" placeholder="" required/>
                  <label class="form-label" for="form6Example3">State</label>
                </div>
              
                <!-- Text input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form6Example4" name="address" class="form-control" placeholder="" required/>
                  <label class="form-label" for="form6Example4">Address</label>
                </div>
                 <!-- Text input -->
                 <div class="form-outline mb-4">
                    <input type="number" id="form6Example4" name="zipcode" class="form-control" placeholder="" required/>
                    <label class="form-label" for="form6Example4">Zipcode</label>
                  </div>
                   <!-- Text input -->
                 <div class="form-outline mb-4">
                    <input type="text" id="form6Example4" name="city" class="form-control" placeholder="" required/>
                    <label class="form-label" for="form6Example4">City</label>
                  </div>
              
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form6Example5" name="email" class="form-control" placeholder="" required />
                  <label class="form-label" for="form6Example5">Email</label>
                </div>
              
                <!-- Number input -->
                <div class="form-outline mb-4">
                  <input type="number" id="form6Example6" name="phone" class="form-control" placeholder="" required/>
                  <label class="form-label" for="form6Example6">Phone</label>
                </div>
              
                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                  <label class="form-label" for="form6Example7">Additional information</label>
                </div>
              
               
                <!-- Submit button -->
                <button type="submit" id="form-button" class="btn btn-primary btn-block mb-4 ">Place order</button>
              </form>

              <div id="payment-info" class="card  hidden">
                <h6>How do you want to pay?</h6>
                <button id="make-payment" class="btn btn-success m-3 ">Mpesa</button>
                <button id="make-payment" class="btn btn-primary m-3">Paypal</button>
              </div>
        </div>
        <div class="col-md-4 sticky-top">
            <a href="{% url 'cart' %}" class="btn btn-md btn-outline-success">&#x2190 Back to Cart</a>
            <table class="table ">
                <h3>ORDER SUMMARY</h3><hr>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                     
                      <th scope="row"><img src="{{item.product.image.url}}" alt="" height="70" width="70" class="img-fluid"></th>
                     
                      <td>{{item.product.name}}</td>
                      <td>{{item.quantity}}</td>
                      <td>Kshs{{item.product.price|floatformat:2}}</td>
                      <td>{{item.get_total}}</td>
                      
                    </tr>
                    {% endfor %}
                  
                 
                </tbody>
                <h4 class="">Total items: {{order.get_cart_items}}</h4>
                <h4 class="">Amount: Kshs{{order.get_cart_total}}</h4>
              </table>
             
        </div>
    </div>
</div>
</div>
<script type="text/javascript">

    var total = '{{order.get_cart_total|floatformat:2}}'
    var shipping = 'False'


    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form is submitted')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })

    function submitFormData(){
        console.log('button clicked')

        var userFormData = {
            'nameone':null,
            'nametwo':null,
            'email':null,
            'phone':null,
            'total':total
        }
        var shippingData = {
            'address':null,
            'city':null,
            'state':null,
            'zipcode':null,
        }
        if (shipping != 'False'){
            shippingData.address = form.address.value
        shippingData.city = form.city.value
        shippingData.state = form.state.value
        shippingData.zipcode = form.zipcode.value
        }
        if (user != 'Anonymous'){
            userFormData.nameone = form.nameone.value
        userFormData.nametwo = form.nametwo.value
        userFormData.email = form.email.value
        userFormData.phone = form.phone.value
        shippingData.address = form.address.value
        shippingData.city = form.city.value
        shippingData.state = form.state.value
        shippingData.zipcode = form.zipcode.value
        }
        
        var url = '/shop/process_order/'
        fetch(url,{
            method:'POST',
            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken':csrftoken
            },
            body: JSON.stringify({'form':userFormData, 'shipping':shippingData})
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('success:', data);
            alert('Transaction complete');
            window.location.href = "{% url 'homepage' %}"
        })
        

        console.log(shippingData)
        console.log(userFormData)


    }
</script>
{% endblock content %}