{% load static %}
<footer class=" text-center text-white mt-5" style="background-color:#1c0d19;">
    <!-- Grid container -->
    <div class="container p-4">
  
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong class="text-white">Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example2" placeholder="{{request.user.email}}" class="form-control text-white" />
                <!-- <label class="form-label text-white" for="form5Example2">Email address</label> -->
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4 text-white">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
  
      <!-- Section: Text -->
      <section class="mb-4 text-white">
        <p class="text-white">
          Available Payment Methods:
        </p>
        <div class="row d.flex justify-content-center align-items-center">
            <div class="col-2"><img src="{% static 'images/mpesa.svg' %}" class="img-fluid" height="100" width="100" alt=""></div>
            <div class="col-2"><img src="{% static 'images/PayPal.svg' %}" class="img-fluid" height="100" width="100" alt=""></div>
            <div class="col-2"><img src="{% static 'images/mlogo.svg' %}" class="img-fluid" height="80" width="80" alt=""></div>
            <div class="col-2"><img src="{% static 'images/vlogo.svg' %}" class="img-fluid" height="100" width="100" alt=""></div>
        </div>
      </section>
      <!-- Section: Text -->
  
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-white">
            <p class="text-uppercase fw-bold text-white">Let us help you</p>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">fashionsoko@sirgama.dev</a>
              </li>
              <li>
                <a href="#!" class="text-white">Help Center</a>
              </li>
              <li>
                <a href="#!" class="text-white">Return Policy</a>
              </li>
              <li>
                <a href="#!" class="text-white">Terms</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
            <p class="text-uppercase fw-bold text-white">About FashionSoko</p>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">About us</a>
              </li>
              <li>
                <a href="#!" class="text-white">Fashion Soko Careers</a>
              </li>
              <li>
                <a href="#!" class="text-white">Privacy</a>
              </li>
              <li>
                <a href="#!" class="text-white">Flash Sales</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <p class="text-uppercase fw-bold text-white">Make money with FashionSoko</p>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Become a seller</a>
              </li>
              <li>
                <a href="#!" class="text-white">Become a sales consultant</a>
              </li>
              <li>
                <a href="#!" class="text-white">Partner Program</a>
              </li>
              <li>
                <a href="#!" class="text-white">Logistics Service partner</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="https://sirgama.dev/">Proudly developed and designed by Gamaliel. All rights reserved!</a>
    </div>
    <!-- Copyright -->
  
  </footer>