{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark " >
    <div class="container ">
      <ul class="navbar-nav me-auto">
        <li class="brand logotext"><i class="fa-brands fa-stumbleupon"></i> sirgama <span class="dot">.</span></li>
      </ul>

      <i class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars-staggered"></i>
      </i>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link m-3 active hover-underline-animation" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-3 hover-underline-animation" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-3 hover-underline-animation" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-3 hover-underline-animation" href="#projects">Projects</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link m-3 hover-underline-animation" href="#contact" >
Contact            </a>

          </li>

        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#contact" class="nav-link m-3">
              <button type="button" class="btn btn-lg btn-outline-warning">Lets Talk</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

