{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top " >
    <div class="container ">
      <ul class="navbar-nav me-auto">
        <li class="brand logotext">Catering System <span class="dot">.</span></li>
      </ul>

      <i class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars-staggered"></i>
      </i>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link m-1 active hover-underline-animation" aria-current="page" href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link m-1 hover-underline-animation" href="{% url 'products' %}" >Shop</a>
          </li>
        
          <!-- <li class="nav-item">
            <a class="nav-link m-1 hover-underline-animation" href="{% url 'men' %}">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-1 hover-underline-animation" href="{% url 'women' %}">Ladies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-1 hover-underline-animation" href="{% url 'access' %}">Bags</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-1 hover-underline-animation" href="{% url 'watches' %}">Watches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-1 hover-underline-animation" href="{% url 'shoes' %}">Shoes</a>
          </li> -->
         
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <a href="#" class="nav-link m-2 ">
                    <i class="fa-solid fa-magnifying-glass"></i> Search
                </a>
            </li>
            
          <li class="nav-item">
            <a href="{% url 'cart' %}" class="nav-link m-2"><i class="fa-solid fa-basket-shopping "></i>
              <small><small><span class="badge rounded-pill badge-notification bg-danger text-white ">{{cartitems}}</span></small></small>
            </a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <div class="nav-link dropdown m-1">
              <div  class="btn btn-md btn-outline-success dropdown-toggle dropbtn " data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user-check"></i> Hi,  {{request.user.username}}</div>
              <ul class="dropdown-menu dropdown-content">
                <li><a class="dropdown-item" href="#">My Cart</a></li>
                <li class="nav-item ">
                  <a class="dropdown-item" href="/admin" >Admin</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
              </ul>
            </div>
          </li>
          
          {% else %}
          <li class="nav-item">
            <a href="{% url 'account_login' %}" class="nav-link m-1">
              <button type="button" class="btn btn-lg btn-outline-primary">Log in</button>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

